body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
div{
   width: 400px;
   height: 400px;
   background-image: repeating-radial-gradient(
    circle,  rgb(255, 94, 0) 5%,
     blue 10% ) ;
     transition: 5s;
     box-shadow: 0 0 10px 10px lime;
}
body:hover div{
    border-radius: 50%;
    transform: rotate(3600deg);
}

